*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: auto;
}

.navbar{
    /* background-color: aquamarine; */
    height: 1000px;
    width: 30%;
    margin-left: 50px;
}
.navbar .logo{
    width: 30%;
    margin-left: 30px;
    margin-top: 10px;
}

.navbar ul li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    list-style-type: none;
    font-size: 15px;
    width: auto;
}

.fa-regular, .fa-solid{
    margin-right: 10px;
}

.list1 ul li:hover{
    background-color: #eee;
    border-radius: 20px;
}

.list2-icons{
    width: 20px;
}

.list2{
    margin-top: 25px;
}

.list2 ul li:hover{
    text-decoration: underline;
}

.sidebar{
    background-color: red;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
}

.sidebar .up a{
    margin-left: 50px;
    text-decoration: none;
    word-spacing: 50px;
    color: white;
    font-size: 20px;
}

.sidebar .up a:hover{ 
    background-color: #000;
    width: 100%;
    
}

.content{
    display: flex;
}

.content-left {
    height: auto;
    /* background-color: blue; */
    width: 50%;
    margin-top: 6px;
    border: 1px solid grey;
    padding: 10px;
    border-top: 0;
    border-right: 0;
}

.top{
    display: flex;
    /* width: 50%; */
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.top .card{
    float: left;
    width:30%;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.content-left .card .card1{
    float: left;
    width:30%;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.content-left .card .card2{
    float: left;
    width:30%;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
}
.content-left .card .card3{
    float: left;
    width:30%;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
    padding-bottom: 10px 10px;
    border-bottom: 1px solid gray;
}

.content-left .bottom{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.content-left .bottom:hover{
    background-color: #eee;
    border-radius: 20px;
}

.content-left .bottom .card-head{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #ccc;
    font-weight: 500;
    margin-bottom: 20px;
}

.content-left .bottom .c-head{
    margin-bottom: 20px;
}

.content-left .bottom .x-head{
    margin-bottom: 20px;
    font-size: 15px;
    color: #ccc;
    font-weight: 500;
}

.img-head {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

.img-text{
    background: #fff;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid #eee;
}

.img-text h6{
    margin-bottom: 20px;
    font-size: 15px;
    color: #ccc;
    font-weight: 500;
}

.img-text p{
    text-align: center;
}

.icon-head{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.icon-head .blue:hover{
    color:blue;
}

.icon-head .red:hover{
    color:red;
}

.icon-head .green:hover{
    color:green;
}


.content-right{
    /* background-color: aqua; */
    height: auto;
    width: 50%;
    margin-top: 6px;
    border: 1px solid gray;
    border-top: 0;
}

.img-up img{
    margin-left: 10px;
}

.top-stories{
    width: 300px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    border-radius: 5px;  
}

.top-stories h6{
    font-weight: 300;
    font-size: 15px;
    color: grey;
}

.top-stories h6, h4{
    padding-left: 5px;
    padding-right: 5px;
}

.top-stories-h5{
    display: flex;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.top-stories h6:hover{
    text-decoration: underline;
}

.top-stories h5:hover{
    text-decoration: underline;
}

.usa{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.img-nation{
    width:15px;
}

.flex{
    width: 40px;
    border: 1px solid black;
}
